#container {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
}

.float-left {
	width: 250px;
	height: 100px;
	border: 1px solid black;
	background: #00FFFF;
	float: left;
}

.float-right {
	width: 250px;
	height: 60px;
	border: 1px solid black;
	background: yellow;
	float: right;
}